@use "variables" as v; 

/** Media Queries **/
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}


@mixin boton($color, $texto) {
    background-color: $color;
    font-size: 2rem;
    padding: 1.2rem 4rem;
    font-weight: 700;
    display: block;
    width: 100%;
    text-align: center;
    color: $texto;
    text-decoration: none;
    transition: background-color .3s ease;
    border: none;

    &:hover {
        cursor: pointer;
        background-color: darken($color, 10);
    }

    @include tablet {
        width: auto;
        display: inline-block;
        
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin bgImage($url, $colorDegradado ) {
   background-image: linear-gradient($colorDegradado 0%, $colorDegradado 100%), url($url);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center;
}
@mixin iconoBg ($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: 50% 2rem;
    background-size: 10rem;
}
@mixin headingBorder( $colorTexto, $colorLinea ) {
    font-size: 3.6rem;
    display: inline-block; //toma el tamaño del heading        
    margin-top: 5rem;
    color: $colorTexto;
    @include tablet { //cuando utilizamos un mixin dentro de ese mixin no es necesario ponerle m.
        margin-top: 0;
    }

    &::after { //es un elemento aparte del html
        content: '';
        background-color: $colorLinea;
        height: 1rem;
        width: calc(100% + 1rem);
        display: block;
        margin: -1.4rem 0 0 0; //hace que la linea se coloque por encima del heading
    }
}