@use "base/variables" as v; 
@use "base/mixins" as m;

.boton-primario {
    @include m.boton(v.$primario, v.$secundario)
}
.boton-plan {
    @extend .boton-primario; // duplica los esrilos de la clase anterior y nos permite agregar estilos adicionales
    border: 2px solid v.$blanco;
    margin-top: 2rem;
    display: block; //toma todo el ancho disponible

}