@use "base/variables" as v; 
@use "base/mixins" as m;

.crea-grid {
    @include m.tablet { 
        @include m.grid(2, 2rem);
        align-items: center;
    }

    h2 {
        @include m.headingBorder( v.$secundario, v.$primario)
    }
}