@use "base/variables" as v; 
@use "base/mixins" as m; 

.planes {
    background-color: v.$secundario;
    h2 {
        @include m.headingBorder(v.$blanco, v.$primario)
    }
    .descripcion {
        color: v.$blanco;
    }
}

.nuestros-planes {
    display: flex;
    flex-direction: column;
    @include m.tablet { 
        flex-direction: row;
        max-width: 80rem;
        margin-inline: auto;
        margin-block-start: 10rem; //le agrega margin top
    }
    .plan {
        flex-grow: 1;
        background-color: v.$blanco;
        padding: 16rem 4rem 4rem 4rem;
        border-bottom: 1px solid #e1e1e1;
        @include m.tablet { 
            border: none;
            transition-property: transform;
            transition-duration: .3s;

            &:hover {
                transform: scale(1.1); //hace la animacion
            }
        }
        .precio {
            font-size: 1.8rem;
            text-align: center;
            font-weight: 700;
            text-transform: uppercase;
        }
        .listado {
            li {
                text-align: center;
                margin-bottom: 2rem;

                &:last-of-type {
                    margin-bottom: 0
                }

            }
        }

        &.inicio {
            @include m.iconoBg ("../../build/img/icono_inicio.svg");
        }
        
        &.negocio {
            background-color: v.$primario;
            order: -1;
            @include m.iconoBg ("../../build/img/icono_negocio.svg");
            
            
            @include m.tablet { 
                order: unset;
                margin: -5rem 0; //hace que sobresalga del tamaño original
                border-radius: 2rem;
                background-position: 50% 7rem; //coloca en una sola linea posicion todos los background-image
                padding-top: calc(16rem + 5rem); //tomando los valores anteriores alinea el heading con el resto
                z-index: 100; //hace que negocio este delante de inicio y de pro, evita que se pongan por encima de negocio
            }
        }
        &.pro {
            @include m.iconoBg ("../../build/img/icono_pro.svg"); 
        }
    }
}