@use "base/variables" as v; 
@use "base/mixins" as m; 

.testimoniales {
    h2 {
        @include m.headingBorder( v.$secundario, v.$primario)
    }
    @include m.tablet { 
        @include m.grid(5, 4rem);
        align-items: center;
    }
    .imagen {
        grid-column: 1 / 3;
    }
    .contenido {
        grid-column: 3 / 6;
    }
}
.contenido {
    .testimonial {
        background-color: v.$primario;
        border: .5rem solid v.$secundario;
        margin-bottom: 4rem;
        padding: 2rem;
        border-radius: 1rem;
        position: relative; 
        @include m.tablet { 
            max-width: 70%; //en el tamaño tablet el contenido sera mas pequeños que en el tamaño telefono

            &:nth-child(2) {
                margin-left: 10%;
            }
            &:nth-child(3) {
                margin-left: 20%;
            }
            &:nth-child(4) {
                margin-left: 30%;
            }
        }

        &::before { //para posicionar las comillas en la esquina superior al lado derecho
            content: '';
            display: block;
            width: 5rem;
            height: 5rem;
            background-image: url(../../../build/img/comilla.svg);
            background-repeat: no-repeat;
            background-position: center;
            position: absolute; //el elemento sera colocado dentro del div de testimonial siendo un elemento antes del parrafo
        }

        &:last-of-type {
            margin-bottom: 0;
        }
        p {
            margin: 0;
            padding-left: 6rem;
        }
    }
}